body div{
  display: inline-block;

}
.main-text{
  align-content: center;
  margin: 2% auto 0 35%;
  width: 25%;
  font-weight: 600;
}
.main-text p{
  font-size: 30px;
}
.elements{
  width: 80%;
  margin: auto auto 5% auto;
}
.product{
  margin: 0 5% 0 5%;
  text-align: right;
}
.cost{
  margin: 0 5% 0 5%;
}
.qty{
  margin: 0 5% 0 5%;
}
.total-price{
  margin: 0 5% 0 5%;
}

input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin: 30px 0 0 0;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    margin: 0 100px 0 30%;
}

.quantity {
  margin: 0 5px;
}


/* 

<!-- ALL THE ELEMENTS THAT REPRESENT THE PRODUCT -->
<div class="elements"> 

    <!-- The Product Name -->
  <div class="product">
    <span>
      IronShirt
    </span>
  </div>
  
  <!-- The Cost of One Unit -->
  <div class="cost">
    <span id="cost">
      $15
    </span>
  </div>
  
  <!-- How Many Units -->
  <div class="qty">
    <label for="">
      QTY
    </label>
    <input class="quantity" type="text" value="0">
  </div>

<!-- The Total Price For This Product, Default total price should be 0. -->
<!-- The result of multiplying the amount of units multiplied by the price of one unit of that product. -->
  <div class="total-price">
    <span>
      $0.00
    </span>
  </div>

  <!-- To Remove The Product From The List -->
  <div>
    <button class="btn btn-delete" type="reset" value="Delete">
      Delete
    </button>
  </div>

</div> */